---
import Layout from "../layouts/Layout.astro";
import ProfileHero from "../components/ProfileHero.astro";
---

<Layout title="Welcome to Astro.">
  <main class="container mx-auto max-w-2xl pt-48">
    <ProfileHero />
  </main>
</Layout>

<style></style>
