<section>
  <h2 class="mb-3 w-full text-2xl font-medium text-blue dark:text-slate-200">
    Today I learned
  </h2>
  <div class="flex h-48 items-center justify-center">
    <p class="text-2xl font-light text-slate-400 dark:text-slate-200">
      Upcoming...
    </p>
  </div>
</section>
