---
import SkillsCard from "./SkillsCard.astro"

type Card = { title: string; skills: string[]; style?: string }
type Cards = Record<string, Card | Card[]>

const cards: Cards = {
  frontend: {
    title: "frontend",
    skills: [
      "vue",
      "react",
      "nuxt",
      "astro",
      "tailwindcss",
      "scss",
      "typescript",
      "apollo",
      "graphql",
      "redux",
      "pinia",
    ],
    style: "col-span-5 md:col-span-3 md:row-span-2",
  },
  backend: {
    title: "backend",
    skills: [
      "nodejs",
      "express",
      "nestjs",
      "pgsql",
      "strapi",
      "graphql",
      "prisma",
      "typeorm",
    ],
    style:
      "col-span-5 md:col-span-3 md:col-start-1 md:row-span-2 md:row-start-3",
  },
  mobile: {
    title: "mobile",
    skills: ["react native", "expo", "react navigation", "reanimated"],
    style:
      "col-span-5 md:col-span-2 md:col-start-4 md:row-span-4 md:row-start-1",
  },
  other: [
    {
      title: "Tools",
      skills: [
        "vite",
        "webpack",
        "git & github",
        "circleCI",
        "github actions",
        "figma",
      ],
    },
    {
      title: "Test",
      skills: ["jest", "vue test utils", "testing library"],
    },
  ],
}
---

<section class="mb-16">
  <h2 class="mb-3 w-full text-2xl font-medium text-blue dark:text-slate-200">
    Skills
  </h2>
  <div class="grid grid-cols-5 grid-rows-4 gap-4">
    {
      Object.keys(cards).map((key) => {
        const element = cards[key] as Card

        return Array.isArray(cards[key]) ? (
          <SkillsCard others={element as unknown as Card[]} />
        ) : (
          <SkillsCard
            title={element.title}
            skills={element.skills}
            style={element.style}
          />
        )
      })
    }
  </div>
</section>
