---
import { ToggleTheme } from "./ToggleTheme"
---

<nav>
  <div
    class="container mx-auto max-w-6xl cursor-pointer px-6 py-4 md:flex md:items-center md:justify-between"
  >
    <a
      class="relative text-3xl font-bold text-blue transition-all duration-300 ease-out after:absolute after:inset-x-0 after:bottom-0 after:top-6 after:block after:h-8 after:w-12 after:overflow-hidden dark:hover:after:bg-blue/30 dark:hover:after:blur-xl"
      href="/"
    >
      CC
    </a>
    <ul class="flex items-center">
      <li>
        <ToggleTheme client:load />
      </li>
    </ul>
  </div>
</nav>
